



/*==========  Mobile First Method  ==========*/
/* Extra small devices (phones, less than 768px) */
@media(max-width:767px){
 body{background:#4CFF4C;}

}
	
/* Small devices (tablets, 768px and up) */
@media(min-width:768px){

 body{background:#A64CFF;} 
}



/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){
body{background:#008C46;}


}


/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px){

body{background:#DBDBEA;}
}

	